
        .modal-vk{
            overflow-y: auto;
            background: white;
            z-index: 1000;
            text-align: center;

            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }
        .modal-vk-body{
            overflow-y: hidden;
            position: fixed;
            width: 100%;
            top: 0;
            height: 100%;
            z-index: 1000;
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        body,
        html {

            background-color: #cfcfcf;
            width: 100%;
            overflow: auto;
        }


        .cardapio {
            height: 100%;
            width: 700px;
            padding-left: 15px;
            display: flex;
        }

        .btn-mesa {
            background-color: rgba(0, 0, 0, 1);
        }

        .row {
            flex-direction: row;
        }

        /* Flex Container */
        .container {

            margin: 0 auto;
            display: flex;
            border: 1px solid #ccc;
            width: 50%;
        }

        .container-flex {

            margin: 0 auto;
            display: flex;
            width: 50%;
        }

        /* Flex Item */
        .item {
            /* O flex: 1; � necess�rio para que cada item se expanda ocupando o tamanho m�ximo do container. */
            flex: 1;
            margin: 5px;
            font-size: 24px;
        }

        .item-2 {
            /* O flex: 1; � necess�rio para que cada item se expanda ocupando o tamanho m�ximo do container. */
            flex: 0.5;
            margin: 5px;

            font-size: 1.5em;
        }

        .item-3 {
            /* O flex: 1; � necess�rio para que cada item se expanda ocupando o tamanho m�ximo do container. */
            flex: 0.2;
            margin-left: 5px;

            font-size: 1.5em;
        }


        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            padding-left: 15px;
        }

        .card-cat {
            display: inline-block;
            padding-top: 10px;

        }

        .cat-nome {
            font-size: 18px;
        }

        .item-img {
            background-color: gray;
            height: 85px;
            border-radius: 20px;
        }

        .infos {
            height: 50px;
            width: 100%;
            background-color: white;
            padding-left: 15px;
            padding-top: 7px;
            font-family: 'Raleway', sans-serif;
        }

        @media only screen and (min-width: 600px) {

            body,
            html {
                margin: 0 auto;
                width: 50%;
            }
        }

        @media only screen and (max-width: 600px) {
            .container-flex{
                width: 100%;
            }

            .tab-nav-container {
                padding: 20px;
                width: 350px;
            }
        
            .tab {
                padding: 0 10px;
                margin: 0;
            }
        
            .tab i {
                font-size: 1em;
            }

            .item {
                font-size: 5vw;

            }

            .infos {
                padding-top: 10px;
            }



        }

        .cardapio {
            width: 100%;
            background-color: #fcca03;
        }
        .opcoes-div {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            overflow: auto;
            background-color: #CCC;
            z-index: 1000;
            padding-top: 60px;
        }

        .op {
            background: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid white;
            color: white;
            padding: 20px;
            margin-left: 1px;
            margin-right: 1px;

        }

        .cart {
            width: 100%;
            height: 100%;
            background: white;
            position: fixed;
            overflow: auto;
            top: 0px;
            left: 0px;
            padding-top: 60px;
        }

        .credenciais {
            width: 100%;
            height: 100%;
            background: white;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1050;
            padding-top: 60px;
        }

        .input {
            margin-top: 7px;
            border: 2px solid gray;
            border-radius: 25px;
        }

        .btn-entrar {
            margin-top: 7px;
            border-radius: 25px;
        }

        .tab {
            background-color: #ffffff;
            border-radius: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            margin: 0 10px;
            transition: background 0.4s linear;
        }
        
        .tab i {
            font-size: 1.2em;
        }
        
        .tab p {
            font-weight: bold;
            overflow: hidden;
            max-width: 0;
        }
        
        .tab.active p {
            margin-left: 10px;
            max-width: 200px;
            transition: max-width 0.4s linear;
        }
        
        .tab.active.purple {
            background-color: rgba(91, 55, 183, 0.2);
            color: rgba(91, 55, 183, 1);
        }
        
        .tab.active.pink {
            background-color: rgba(201, 55, 157, 0.2);
            color: rgba(201, 55, 157, 1);
        }
        
        .tab.active.yellow {
            background-color: rgba(230, 169, 25, 0.2);
            color: rgba(230, 169, 25, 1);
        }
        
        .tab.active.teal {
            background-color: rgba(28, 150, 162, 0.2);
            color: rgba(28, 150, 162, 1);
        }
        .selecte-item{
            box-shadow: 0px 0px 15px gray; border: 3px solid white; border-bottom-color:#fff; border-top: 0px; border-right:0; border-left: 0; 
        }
        .item-menu-bottom{
            transform: translateY(-35px);
        }
        .item-menu-inside{
            box-shadow: 0px 0px 15px gray; 
            border: 3px solid white; 
            border-bottom-color:#fff; 
            border-top: 0px; 
            border-right:0; 
            border-left: 0; 
        }
        .item-menu-text{
            font-family: 'Signika', sans-serif;
        }
        .carrinho-page{
            width: 100%;
            height: 100%;
            margin-bottom: 150px;
            position: fixed;
            background-color: white;
            top:0;
            transform: translateX(100%);
            z-index: 500;
            transition: 0.8s;
            overflow-y: auto;    
        }
        .pedir-page{
            width: 100%;
            height: 100%;
            margin-bottom: 150px;
            position: fixed;
            background-color: white;
            top:0;
            transform: translateX(100%);
            z-index: 500;
            transition: 0.8s;
            overflow-y: auto;    
        }
        .login-form {
            width: 340px;
            margin: 30px auto;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .login-form .hint-text {
            color: #777;
            padding-bottom: 15px;
            text-align: center;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .login-btn {        
            font-size: 15px;
            font-weight: bold;
        }
        .or-seperator {
            margin: 20px 0 10px;
            text-align: center;
            border-top: 1px solid #ccc;
        }
        .or-seperator i {
            padding: 0 10px;
            background: #f7f7f7;
            position: relative;
            top: -11px;
            z-index: 1;
        }
        .social-btn .btn {
            margin: 10px 0;
            font-size: 15px;
            text-align: left; 
            line-height: 24px;       
        }
        .social-btn .btn i {
            float: left;
            margin: 4px 15px  0 5px;
            min-width: 15px;
        }
        .input-group-addon .fa{
            font-size: 18px;
        }
        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            height: 35px;
            margin-top:
            
            
          }
          .card-scroll {
            display: inline-block;
            background: white;
            font-size: 18px;
            margin-right: 5px;
            border-radius: 15px;
            padding: 2px 15px 2px 15px; 
            
         
          }

          .selected{
              background: #fcca03;
              color: black;
              font-weight: 600;
              border: 1px solid gray;
          }